:root {
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);
    --yellow: hsl(47, 88%, 63%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: var(--yellow);
  padding: 2rem;
}

.card {
    background-color: var(--white);
    padding: 1rem;
    width: 60%;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 5px 5px;
    margin-bottom: 1rem;
    border: 1px solid var(--black);
}
.card:hover, .card:focus {
    box-shadow: 10px 10px;
}
.image {
    background-image: url("./assets/images/illustration-article.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    min-height: 10rem;
    border-radius: 0.5rem;
}

.content {
    margin-top: 1rem;
}
.content h3 {
    font-size: 1.1rem;
    background-color: var(--yellow);
    width: 6rem;
    text-align: center;
    padding: 0.35rem .25rem;
    margin-top: 2rem;
    font-weight: 800;
    border-radius: 4px;
    color: var(--black);
}

.content p {
    margin-top: 1rem;
    font-weight: 400;
    color: var(--black);
}

.content h1 {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.content h1:hover {
    cursor: pointer;
    color: var(--yellow);
}

.content .text {
    color: var(--black);
    margin-top: 2rem;
    opacity: 0.8;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.profile {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.profile img {
    width: 3rem;
}
.profile p {
    font-weight: 800;
    color: var(--black);
}

@media screen and (max-width: 375px) {
    .card {
        width: 90%;
    }
}